.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
            |Continue with Github
    button.social-login--google
        a(href=routes.google)
            span
                i.fab.fa-google-plus-g
            | Continue with Google
    button.social-login--kakao
        span
            a(href=routes.kakao)
                img(src="/static/kakao.png")
                |&nbsp;Continue with Kakao
        