.videoBlock {
  video {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  h4 {
    color: black;
    font-weight: bold;
  }

  h6 {
    color: #3498db;
  }
}
